.terminal-container {
    border-top: 1px solid rgb(75, 75, 75);
    width: 100%;
    height: 300px;
    padding: 5px 20px;
}

.terminal-container ul {
    display: flex;
    margin-bottom: 10px;
}

.terminal-container ul li {
    width: 102px;
    padding: 10px 20px;
    color: #8b8b8b;
    cursor: pointer;
    text-align: center;
}

.terminal-container .curCategory {
    border-bottom: 2px solid #fff;
}

.terminal-container ul li:hover {
    color: #fff;
}

.terminal-container div {
    background: #3d608b;
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
}

.terminal-container div>span {
    padding: 0 10px;
    margin-left: 10px;
    font-weight: bold;
    background: rgb(185, 185, 59);
}

.terminal-container input {
    display: inline-block;
    /* color: #ffffff; */
    font-size: 20px;
}

.buttonBox {
    position: fixed;
    right: 30px;
    bottom: 230px;
}

.btn {
    padding: 13px 20px;
    font-size: 20px;
    margin-right: 5px;
    background: rgb(20, 61, 71);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.categoryInfo {
    color: #fff;
}