* {
  background-color: black;
  color: #f3ecec;
}
.header {
  border: 1px solid gray;
  height: 40px;
}





















/* .wrap{
    width: 80px;
    border-color: solid 1px white;
} */
/* 왼쪽 아이콘 css */
.tmp_box1 {
  float: left;
  border: 1px solid gray;
  width: 3.5%;
  height: 800px;
}

/* 터미널 영역 css 시작*/
.terminal{
  font-size: 20px;
  padding: 150px 50px 0px 80px;
}

#upateBtn{
  float: left;
  width: 60px;
  height: 40px;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 1115px;
  margin-top: 30px;
  box-shadow: 1px 4px 0 gray;
}

#deleteBtn{
  float: left;
  width: 60px;
  height: 40px;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;
  box-shadow: 1px 4px 0 #818181;
}

#upateBtn button:active , #deleteBtn button:active {
  background-color: gray;
  color: black;
  box-shadow: 1px 1px 0 #818181;
  position: relative;
  top:2px;
}

#upateBtn button:hover, #deleteBtn button:hover {
  background-color: white;
  color: black;
}

.selectList{
  height: 35.2px;
}

#textInput{
  width: 500px;
  border : 1px solid
}

/* 터미널 영역 css 끝*/


/* 팀원 소개 데이터 css*/
.list-group-item:hover, .list-group-item span:hover{
  background-color: tomato;
}
