* {
  background-color: black;
  color: #f3ecec;
}
.header {
  border: 1px solid #818181;
  height: 40px;
}
.TabInfo {
  position: relative;
  width: 220px;
  height: 103%;
  display: flex;
  left: 62px;
  border-top: 3px solid #40A4FE;
  border-left: 2px solid #818181;
  border-right: 2px solid #818181;
}
.TabInfo svg {
  position: relative;
  top: 8px;
  left: 10px;
}
.TabInfo p {
  position: relative;
  top: 6px;
  left: 20px;
  color : #CCCCCC;
}
/* .wrap{
    width: 80px;
    border-color: solid 1px white;
} */
/* 왼쪽 아이콘 css */
.tmp_box1 {
  float: left;
  border: 1px solid white;
  width: 3.5%;
  height: 800px;
}
