/** 팀 소개 영역 css 시작  */
.tmp_box0 {
  float: left;
  border: 1px solid #818181;
  width: 96.5%;
  height: 800px;
  left: 200px;
}
.teamName {
  font-size: 60px;
  width: 50%;
  position: relative;
  left: 200px;
  top: 120px;
  text-align: left;
  color: #cccccc;
  text-shadow: -0.8px 0px #888887, 0px 0.8px #888887, 0.8px 0px #888887,
    0px -0.8px #888887;
}

.teamName p {
  font-size: 30px;
  position: relative;
  color: #8b959e;
  text-shadow: -0.8px 0px #51565a, 0px 0.8px #51565a, 0.8px 0px #51565a,
    0px -0.8px #51565a;
}

.intro_tmp {
  display: inline-block;
  margin: 50px 320px 10px 100px;
}
.intro_tmp_box {
  float: left;
  position: relative;
  top: 180px;
  left: 100px;
  height: 96px;
}
.intro_tmp_box p {
  color: #cccccc;
  text-shadow: -0.5px 0px #888887, 0px 0.5px #888887, 0.5px 0px #888887,
    0px -0.5px #888887;
  font-size: 28px;
  text-align: left;
}
.intro_tmp_box ul {
  list-style: none;
  padding-left: 0px;
}
.intro_tmp_box li {
  color: #40a4fe;
  text-shadow: -0.5px 0px #336ea1, 0px 0.5px #336ea1, 0.5px 0px #336ea1,
    0px -0.5px #336ea1;
  list-style: none;
  text-align: left;
  font-size: 20px;
}
/** 팀 소개 영역 css 끝  */
